In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
raw_csv = pd.read_excel("African_Countries_GDP.xlsx")

In [3]:
df=raw_csv.copy()

In [4]:
df.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,2.723593e+09,2.434727e+09,2.001428e+09,2.702960e+09,2.909293e+09,3.136259e+09,3.039835e+09,3.370843e+09,3.852116e+09,...,2.090590e+11,2.097550e+11,2.138100e+11,1.659790e+11,160034000000,1.700970e+11,1.749110e+11,1.717670e+11,1.450090e+11,0
1,Angola,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,101124000000,1.221240e+11,1.013530e+11,8.941719e+10,5.837598e+10,0
2,Benin,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,3.029253e+08,3.062220e+08,3.263231e+08,...,1.114136e+10,1.251785e+10,1.328453e+10,1.138816e+10,11821066153,1.270165e+10,1.426241e+10,1.439169e+10,1.565155e+10,0
3,Botswana,3.041231e+07,3.290234e+07,3.564321e+07,3.809115e+07,4.161397e+07,4.579087e+07,5.146444e+07,5.864644e+07,6.624826e+07,...,1.438000e+10,1.490175e+10,1.565466e+10,1.357875e+10,15082578065,1.608844e+10,1.691425e+10,1.659372e+10,1.506192e+10,0
4,Burkina Faso,3.304428e+08,3.502472e+08,3.795670e+08,3.940406e+08,4.103216e+08,4.229168e+08,4.338898e+08,4.507540e+08,4.604427e+08,...,1.256102e+10,1.344430e+10,1.394302e+10,1.183216e+10,12833363370,1.410696e+10,1.589007e+10,1.617816e+10,1.793361e+10,0

In [5]:
df.melt(id_vars=["Country"],var_name="Year",value_name="GDP")

           Country  Year           GDP
0          Algeria  1960  2.723593e+09
1           Angola  1960  0.000000e+00
2            Benin  1960  2.261956e+08
3         Botswana  1960  3.041231e+07
4     Burkina Faso  1960  3.304428e+08
...            ...   ...           ...
3343          Togo  2021  0.000000e+00
3344       Tunisia  2021  0.000000e+00
3345        Uganda  2021  0.000000e+00
3346        Zambia  2021  0.000000e+00
3347      Zimbabwe  2021  0.000000e+00

[3348 rows x 3 columns]

In [6]:
df.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,2.723593e+09,2.434727e+09,2.001428e+09,2.702960e+09,2.909293e+09,3.136259e+09,3.039835e+09,3.370843e+09,3.852116e+09,...,2.090590e+11,2.097550e+11,2.138100e+11,1.659790e+11,160034000000,1.700970e+11,1.749110e+11,1.717670e+11,1.450090e+11,0
1,Angola,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,101124000000,1.221240e+11,1.013530e+11,8.941719e+10,5.837598e+10,0
2,Benin,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,3.029253e+08,3.062220e+08,3.263231e+08,...,1.114136e+10,1.251785e+10,1.328453e+10,1.138816e+10,11821066153,1.270165e+10,1.426241e+10,1.439169e+10,1.565155e+10,0
3,Botswana,3.041231e+07,3.290234e+07,3.564321e+07,3.809115e+07,4.161397e+07,4.579087e+07,5.146444e+07,5.864644e+07,6.624826e+07,...,1.438000e+10,1.490175e+10,1.565466e+10,1.357875e+10,15082578065,1.608844e+10,1.691425e+10,1.659372e+10,1.506192e+10,0
4,Burkina Faso,3.304428e+08,3.502472e+08,3.795670e+08,3.940406e+08,4.103216e+08,4.229168e+08,4.338898e+08,4.507540e+08,4.604427e+08,...,1.256102e+10,1.344430e+10,1.394302e+10,1.183216e+10,12833363370,1.410696e+10,1.589007e+10,1.617816e+10,1.793361e+10,0

In [10]:
df = df.drop(2021,axis=1)

Use df.melf as directed by this stack overflow post
https://stackoverflow.com/questions/28654047/convert-columns-into-rows-with-pandas

In [11]:
df_melted = df.melt(id_vars=["Country"],var_name="Year",value_name="GDP")

In [12]:
df_melted

           Country  Year           GDP
0          Algeria  1960  2.723593e+09
1           Angola  1960  0.000000e+00
2            Benin  1960  2.261956e+08
3         Botswana  1960  3.041231e+07
4     Burkina Faso  1960  3.304428e+08
...            ...   ...           ...
3289          Togo  2020  7.574637e+09
3290       Tunisia  2020  4.162035e+10
3291        Uganda  2020  3.760037e+10
3292        Zambia  2020  1.811063e+10
3293      Zimbabwe  2020  1.805117e+10

[3294 rows x 3 columns]

In [16]:
df_melted=df_melted.sort_values(["Country","Year"])

In [17]:
df_melted.to_excel("Melted_African_Countries_GDP.xlsx")